* {
    box-sizing: border-box;
}

body, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

.contacts {
    position: absolute;
    top: 65px;
    right: 110px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: white 2px solid;
    border-radius: 5px;
    opacity: 0;
}

.contacts__button:hover ~ .contacts {
    opacity: 1;
    transition: all .5s;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: 50px;
    z-index: 900;
}

.nav__item {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 4px;

}


.nav__item:hover:after {
    transform: translate(-50%,-50%) scale3d(1,1,1);
}

.nav__item.nav__item--active:after {
    transform: translate(-50%,-50%) scale3d(1,1,1);
}

.nav__item::before,
.nav__item::after {
    position: absolute;
    top: 50%;
    content:"";
    left: 50%;
    
}

.nav__item::before {
    background-color: #fff;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    transform: translate(-50%,-50%);
}

.nav__item::after {
    border: 1px solid #fff;
    transform: translate(-50%,-50%) scale3d(0,0,0);
    transition: transform .3s;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.first-screen {
    background: no-repeat center/100% url(../img/texture.png);

    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    flex-grow: 1;
    color:#fff;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-item:nth-last-of-type(n + 2):after {
    border:solid 2px #fff;
    border-radius: 50%;
    content: "";
    margin-left: 16px;
    height: 1px;
    width: 1px;
    display: inline-block;
    background-color: #fff;
}

.button-order {
    padding: 13px 16px; 
    margin-left: 16px;
    max-width: fit-content;
    background-color: #e45028;
    border-radius: 5px;   
    color:#fff;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-order:hover {
    background-color: #c1401e;
}

.header__burger {
    position: absolute;
    right: -35px;
    display: grid;
    grid-gap: 5px;
    display: none;
    cursor: pointer;
}

.burger__stick {
    height: 3px;
    width: 24px;
    border-radius: 3px;
    background-color: #fff;
}

.first-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first-content__img {
    margin-right: 13px;
    margin-left: 16px;
    margin-top: 95px;
}

.first-content__text {
    margin-top: 150px;
}

.first-content__title {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 60px;
    color: #f9b43b;
}

.first-content__desc {
    font-family: "Lifehack";
    font-weight: 500;
    font-size: 45px;
    color: #fff;
    line-height: 0.95;
}

.we {
    background: no-repeat center/100% url(../img/bg.png);
    min-height: 100vh;
    padding-top: 137px;
}

.we__title {
    display: flex;
    justify-content: center;
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 70px;
    margin-bottom: 50px;
}

.benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefits-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-image {
    margin-bottom: 35px;
}

.benefits-name {
    font-family: "Lifehack";
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.benefits-text {
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.burgers {
    background: linear-gradient(#f9b43b, #eb8c38, #f9b43b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.slider__container {
    display: flex;
    align-items: center;
}

.arrow {
    cursor: pointer;
    
}


.burgers__slider {
    display: flex;
    width: 860px;
    overflow: hidden;
    margin: 0 10px;
      
}

.burgers__slides {
    display: flex;
    position: relative;
    transition: right 0.6s;
}

.burgers__slide {
    display: flex;
    align-items: center;
    width: 860px;
    
}

.burger__images {
    position: relative;
}

.btn-burger {
    background: #f08c33;
    border-radius: 5px;
    padding: 15px 26px;
    max-width: min-content;
    cursor: pointer;
}

.btn-burger:hover {
    background: #e35028;
}

.btn-burger:hover ~ .burger__compose {
    opacity: 1;
    transition: all .5sg;
}

.btn-burger__text {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 15px;
    color:#fff;
}

.burger__compose {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 23px 23px 0 23px;
    border-radius: 5px;
    opacity: 0;
} 

.compose__item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.compose__name {
    font-size: 15px;
    font-family: "Ubuntu";
    font-weight: 500;
    margin-left: 2em;
    margin-right: 4.7em;
}

.compose__weight {
    font-family: "Ubuntu";
}

.info-text__title {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 70px;
    color: #fff;
}

.info-text__desc {
    font-family: "Ubuntu";
    font-weight: 300;
    color: #fff;
    font-size: 15px;
}


.info-order {
    display: flex;
    align-items: center;
}

.price-order {
    font-family: "Gagalin";
    font-weight: 400;
    color: #e35028;
    display: flex;
    align-items: flex-end;
}

.price-order__number {
    font-size: 70px;
}

.team {
    background: no-repeat center/100% url(../img/team.png);
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
}

.team__container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 115px 100px;
}

.team__title {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 70px;
    color: #f9b43b;
}

.team__member {
    margin-top: 15%;
}

.member--active .member__container {
    margin-top: 18px;
    opacity: 1;
}

.member__row {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.member__arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #f9b43b;
    margin-right: 10px;

}

.member__row:hover + .member__arrow {
    transform: rotate(90deg);
}

.member__name {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 14px;
    color: #f9b43b;
}

.member__container {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.25s, height 0.25s, margin-top 0.25s;
}

.member__content {
    display: flex;
}

.member__icon {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    position: relative;
}

.member__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.member__info {
    max-width: 210px;
    margin-left: 22px;
}

.member__work {
    font-family: "Ubuntu";
    font-weight: 500;
    color:#fff;
    font-size: 14px;
}

.member__text {
    font-family: "Ubuntu";
    font-weight: 300;
    color:#fff;
    font-size: 13px;
    margin-top: 22px;
}

.menu__section {
    height: 100vh;
    background-image: url(../img/photo-1428660386617-8d277e7deaf2.png);
    background-repeat: no-repeat;
    background-size: cover;    
    overflow: hidden;
    user-select: none;
}

.menu__item__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
  
.menu__title {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 72px;
    position: absolute;
    top: 112px;
    left: 98px;
    color: #fff;

}

.menu__item {   
    width: 80px;
    height: 100vh;
    border-left: 1px solid black;
    transition: all .7s;
    display: flex;
    position: relative;
}
  
.item--active {
    width: 65%;  
    color: #f9b43b;
}

.trigger__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} 

.trigger__name {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    transform: rotate(-90deg);
    text-align: center;
    white-space: nowrap;
    user-select: none;
}

.menu__trigger {
    width: 80px;
    height: 100%;  
    opacity: 1; 
    position: relative;   
    background: no-repeat center center /cover;
    z-index: 1;
}

.first-trigger {
    background-image: url(../img/Rectangle\ 5.jpg);
    
}

.second-trigger {
    background-image: url(../img/photo-1466814314367-45323ac74e2b.jpg);
}

.third-trigger {
    background-image: url(../img/IMG_4084.jpg);
}



.menu__content {
    min-width: calc(100vw - 2 * 80px - 3 * 1px - 25%);
    color: white;
    height: 100%;
    opacity: 0;
    transition: all .7s;
    position: absolute;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 118px;
    padding-right: 170px;
    will-change: width;
    user-select: none;
}



.menu__item:first-child .content {
    min-width: calc(100vw - 3 * 80px - 3 * 1px);
}
  
.item--active .menu__content {
    opacity: 1;
    width: 100%;

}


.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    color: #fff;
}

.clients__container {  
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    height: 100%;
    transition: opacity .3s;
}

.clients__container:hover {
    opacity: 1;
}

.clients__name {
    
    font-family: "Gagalin";
    text-transform: uppercase;
    font-size: 14px;
}

.clients__text {
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 14px;
    margin-top: 5%;
    line-height: 24px;
}

.clients__button {
    background-color: #2f3234;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 13px;
    padding: 10px 13px;
    border-radius: 5px;
    width: fit-content;
    margin-top: 18px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
}

.block-1 {
    background: no-repeat center/100% url(../img/photo-1458696765561-12142eaead13.jpg);
    background-size: cover;
}

.block-2 {
    background: no-repeat center/100% url(../img/photo-1440606797942-6cc04c045447.jpg);
    background-size: cover;
}

.block-3 {
    background: no-repeat center/100% url(../img/photo-1445404590072-16ef9c18bd83.jpg);
    background-size: cover;
}

.block-4 {
    background: no-repeat center/100% url(../img/photo-1468546818829-25bb337b6646.jpg);
    background-size: cover;
}

.block-5 {
    background: no-repeat center/100% url(../img/photo-1438763298591-75a0d42b7265.jpg);
    background-size: cover;
}

.block-6 {
    background: no-repeat center/100% url(../img/photo-1461332682233-b818af4c3a6e.jpg);
    background-size: cover;
}

.block-7 {
    background: no-repeat center/100% url(../img/photo-1457706924510-773f3c796de3.jpg);
    background-size: cover;
}

.block-8 {
    background: no-repeat center/100% url(../img/photo-1458890715264-db84f7c6ef13.jpg);
    background-size: cover;
}

.work {
    height: 100vh;
    background: no-repeat center/100% url(../img/BG_.jpg);
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-work__title {
    font-family: "Gagalin";
    text-transform: uppercase;
    font-size: 60px;
    color: #2f3234;
    margin-top: 82px;
}

.our-work__video {
    margin-top: 50px;
    width: 660px;
    height: 400px;
}

.form {
    height: 100vh;
    background: no-repeat center/100% url(../img/bg-texture.jpg);
    background-size: cover;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__container {
    display: flex;
    justify-content: space-between;
    min-width: 940px;
}

.form__contacts {
    width: 50%;
}

.form__main {
    display: flex;
    justify-content: space-between;
}

.form__street {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form__person {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form__tel {
    display: flex;
    flex-direction: column;
}

.form__name {
    font-family: "Ubuntu";
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
}

.form__input {
    border-radius: 5px;
    height: 36px;
    outline: none;
    border: solid 1px #d1cfcb;
}

.form__input:focus {
    border: solid #f08c33 2px;
}

.middle {
    width: 220px;
}

.large {
    width: 460px;
}

.small {
    width: 100px;
}

.form__title {
    font-family: "Gagalin";
    font-size: 72px;
    color: #f9b43b;
}

.form__address {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form__address__house {
    display: flex;
    flex-direction: column;
}

.form__address__building {
    display: flex;
    flex-direction: column;
}

.form__address__apartment {
    display: flex;
    flex-direction: column;
}

.form__address__floor {
    display: flex;
    flex-direction: column;
}

.form__comments__textarea {
    resize: none;
    height: 110px;
    width: 460px;
    border: solid 1px #d1cfcb;
    border-radius: 5px;
    outline: none;
}

.form__comments__textarea:focus {
    border: solid #f08c33 2px;
}

.form__pay {
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.form__pay-back {
    margin-right: 20px;
    display: flex;
}

.form__pay-card {
    display: flex;
}

.form__pay-name {
    color: #fff;
    font-size: 14px;
    font-family: "Ubuntu";
    font-weight: 300;
}

.form__pay-radio {
    margin-right: 10px;
}

.form__pay-radio input {
    display: none;
}

.form__pay-radio .round {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.round__inner {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #e35028;
    opacity: 0;
}

.form__pay-radio input:checked + .round .round__inner {
    opacity: 1;
}

.form__checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.callback__name {
    color: #fff;
    font-size: 14px;
    font-family: "Ubuntu";
    font-weight: 300;
}

.custom-checkbox {
    margin-right: 10px;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox input:checked + div svg{
    display: block;
}

.custom-checkbox svg {
    display: none;
}

.custom-checkbox div {
    width: 15px;
    height: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form__buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.form__order {
    background-color: #e45028;
    color: #fff;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.form__clear {
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

#footer {
    height: 100vh;
    background: gray;
    display: flex;
    flex-direction: column;
}

#map {
    height: calc(100vh - 26px);
}

.footer {
    background: no-repeat center/100% url(../img/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg);
    background-size: cover;
    padding: 11px 80px 15px;
    font-family: "Ubuntu";
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__adress {
    color: #fff;
    font-weight: 300;
}

.tel__image {
    width: fit-content;
}

.contact__tel,
.tel__number {
    color: #e45028;
    font-weight: 500;
}

.social {
    width: 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.vk__img {
    height: 24px;
    width: 24px;
}

.fb__img {
    height: 20px;
    width: 20px;
}

.tw__img {
    height: 20px;
    width: 25px;
}

.inst__img {
    height: 20px;
    width: 20px;
}

.social__svg {
    fill:#595959;
    
}

.social__svg:hover {
    cursor: pointer;
    fill: #fff;
    transition: all .3s;
}

.modal {
    background-color: rgba(47, 50, 52, 0.92);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal--open {
    opacity: 1;
    pointer-events: unset;
}

.modal__container {
    background: #fff;
    border-radius: 5px;
    padding: 30px 20px;
    max-width: 460px;
    position: relative;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 15px;
    width: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__close:hover:before,
.modal__close:hover:after {
    background-color: #ecbdb0;
}

.modal__close:before,
.modal__close:after {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: #ec8468;
    content: "";
    display: block;
}

.modal__close:before {
    transform: rotate(45deg) translate(0.5px, 1px);
}

.modal__close:after {
    transform: rotate(-45deg) translate(0.5px, -1.5px);
}

.modal__content {
    color: black;
    font-size: 14px;
}

.modal__title {
    text-transform: uppercase;
    font-family: "Gagalin";
}

.modal__text {
    margin-top: 25px;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 24px;
}

@media (max-width: 1000px) {
    .menu {display: none;}
    .header__burger {display: grid;}
    .first-screen {
        background: no-repeat center/100% url(../img/texture.png);
        background-size: cover;
        min-height: 100vh;}
    .first-content__img {margin-top: 10%;}
    .first-content__text {margin: 0;
    text-align: center;}
    .we {
        background: no-repeat center/100% url(../img/bg.png);
        background-size: cover;
        min-height: 100vh;        
    }

    .burgers__slide {
        flex-wrap: wrap;
    }

    .kkal-image {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .team {
        background: no-repeat center/100% url(../img/team.png);
        background-size: cover;
        min-height: 100vh;
    }

    .team__container {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team__members {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .reviews {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        color: #fff;
    }

    .clients__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .clients__name {
        text-align: center;
    }

    .clients__text {
        text-align: center;
    }

    .form__container {
        margin-top: 5%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {

    .first-content {flex-direction: column;}

   
    
}